@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    color: #F00;
    font-size: 64px;
    font-weight: lighter;
    font-family: 'Alegreya', sans-serif;
    font-style: italic;
    text-shadow: 5px 5px 10px #F00;
}

p {
    color: #00F;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Alegreya', sans-serif;
    font-style: italic;
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 40px;
    text-align: justify;
    text-transform: uppercase;
    text-decoration: underline;

}