* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}

.container {
  height: 100vh;
}

.container,
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0 0 80px 0;
}

.img-logo {
  width: 380px;
  height: 210px;
}

.main-paragraph,
.result-paragraph {
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.get-random-number-input {
  width: 190px;
  height: 50px;
  padding: 10px;
  font-size: 24px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  margin: 15px;
}

.get-random-number-input::placeholder {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  opacity: 0.7;
}

.lucky-button {
  margin: 20px 15px;
  width: 190px;
  height: 50px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #AEC346;
  box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.lucky-button:hover {
  background: #7d8b35;
}